/* REUSABLE CSS HERE*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.row {
    width: 100%;
    overflow: hidden;
}

.navbar a{
    background-color: transparent;
    color: #003c96;
}

.navbar a:hover{
    color: #6ea6d3;
    background-color: transparent;
}

.navbar .brand {
    font-family: cursive;
    font-size: 24px;
    font-weight: 600;
}

.navbar nav{
    padding: 8px 0;
}

.navbar li {
    display: inline;
    list-style: none;
    margin-left: 20px;
}

.col-30{
    width: 30%;
    overflow: hidden;
}

.col-50{
    width: 50%;
    overflow: hidden;
}

.col-65 {
    width: 65%;
    overflow: hidden;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

.text-right{
    text-align: right;
    font-weight: 600;
}
.p-10{
    margin: 10px;
}

.pb-10{
    padding-bottom: 10px;
}
.mb-10{
    margin-bottom: 10px;
}

.mt-10{
    margin-top: 10px
}

.color-pink{
    color: #d64475;
    font-weight: 600;
}

.color-green {
    color: #017a01;
}
.form-bg {
    height: 100vh;
}

.form-style {
    width: 60%;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 3px 3px 10px 1px #222;
}

.form-style .form-group {
    margin-bottom: 30px; 
    text-align: center
}

.form-style h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
form input {
    width: 90%;
    padding: 7px;
    border: solid 2px #82b0d6;
    border-radius: 5px;
    margin: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

form input[type='submit'] {
    font-size: 18px;
}

form input[type='submit']:hover {
    color: gray;
    background-color: lightgrey;
}

/* Icon Down */
.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-down .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }