

/*header section*/
header {
    height: 100vh;
    opacity: 0.9;
    background-color: #000;
    background-image: url(./../img/ride-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 2;
}

 header .overlay{
    height: 100vh;
    opacity: 0.7;
    background: #000;
} 

header .offer-ride-btn, header .caption a, main a {
    background-color: #003c96;
    color: #fff;
    padding: 10px;
}

header .offer-ride-btn:hover, header .caption a:hover, main a:hover {
    color: #ccc;
    background-color: #003c96;
    text-shadow: 1px 1px 1px 1px #606061;
}

header .caption {
    margin: auto;
    width: 90%;
    color: #fff;
    overflow: hidden;
}

header .caption .mx-auto {
    width: 60%;
    margin: auto;
}

header .caption h1{
    font-family: cursive;
    font-size: 3rem;
    margin-top: 20%;
    margin-bottom: 20px;
}

header .caption p{
    font-weight: 600;
    margin-bottom: 40px;
}

main{
    background-color: #5A7A9B;
    padding: 30px 0;
    height: 100%;
}

main .card {
    background-color: #fff;
    border: solid 1px #ebebeb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
main h1 {
    text-transform: uppercase;
    color: #ebebeb;
    font-family: cursive;
    font-size:32px;
    font-weight: 800;
}

main h2 {
    font-size: 24px;
    font-weight: 600;
    color: #444;
}

main h3 {
    color: #373738;
    font-size: 18px;
    font-weight: 600;
}

main p, main span, main li{
    margin-bottom: 10px;
    color: #6d6f72;
}

main .card a {
    border-radius: 10px;
}
main img {
    height: 100px;
    width: 100px;
    border: solid 2px #ccc;
    border-radius: 100%;
    margin: 10px; 
}

.ride-request {
    margin-top: 50px;
    padding:15px;
    box-sizing: border-box;
}

.ride-request .name {
    font-weight: 600;
}
.ride-stats {
    background-color: #373738;
    color: #ccc;
}

.ride-stats h3, .ride-stats h2 {
    color: #ebebeb;
    font-size: 18px;
    font-weight: 600;
}

.dashboard {
    height: 3vh;
    background-image: url(./../img/ride-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.modal-dialog {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog>div {
    width: 320px;
    position: relative;
    margin: 10% auto;
    padding: 0rem;
    background: #fff;
    color: #444;
}

.modal-dialog h3 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.modal-dialog .btn {
    background-color: #0d8d08;
    color: #fff;
    padding: 5px 10px;
}

.modal-dialog .btn:hover {
    color: #6bf566;
    background: #13910f;
}

.modal-dialog img {
    width: 100%;
    height: 200px;
}

.close {
    background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
    color: #444;
}

footer {
    padding: 10px;
    background-color: #373738;
    color: #fff;
}

@media(max-width: 768px){
    main .card {
        float: left;
        margin: 10px;
        width: 40%;
        margin-bottom: 20px;
    }
    header .caption .mx-auto{
        width: 100%;
       /* margin: auto;*/
    }

}

@media(max-width: 610px){
    .navbar .float-left,
    .navbar .float-right,
    .dashboard .float-left,
    .dashboard .float-right
    {
        float: none;
        width:100%;
        text-align: center;
    }
    .dashboard{
        height: 6vh;
    }  
}

@media(max-width: 423px){
    .navbar .float-left,
    .navbar .float-right,
    .dashboard .float-left,
    .dashboard .float-right
    {
        float: none;
        width:100%;
        text-align: center;
    }

    .navbar li {
        margin-left: 10px;
    }

    main .card {
        float: none;
        margin: auto;
        width: 80%;
        margin-bottom: 20px;
    }

    .dashboard{
        height: 6vh;
    }

    header .offer-ride-btn {
        background-color: transparent;
        color: #003c96;
    }

    header .caption, header .caption .mx-auto{
        width:100%;
        margin: auto;
    }
    header .caption h1 {
        font-size: 1.8rem;
        text-shadow: 2px 2px 2px grey;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    header .caption p {
        font-weight: normal;
    }

    .dashboard .ride-request {
        margin-top: 20px;
    }

    .dashboard .float-right .ride-request {
        margin-bottom: 20px;
    }

    .form-style {
        width: 80%;
    }

 
    
}